/* You can add global styles to this file, and also import other style files */
/* body{
    background-image: url("../src/assets/img/cat_aquarium_fish_suspension_52666_1920x1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
} */