<div>
    <app-header></app-header>
</div>

<div style="margin-top: 100px;">
    <div class="row">
        <div class="col"><iframe width="560" height="315" src="https://www.youtube.com/embed/O2aSYBI_z3E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="col"><iframe width="560" height="315" src="https://www.youtube.com/embed/FwobnzT2HjA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="col"><iframe width="560" height="315" src="https://www.youtube.com/embed/G1nnI4uCbhw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="col"><iframe width="560" height="315" src="https://www.youtube.com/embed/NqVAMtTTTzk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="col"><iframe width="560" height="315" src="https://www.youtube.com/embed/Ea8ch3OG2Vg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="col"><iframe width="560" height="315" src="https://www.youtube.com/embed/NH1W2G28CuI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="col"><iframe width="560" height="315" src="https://www.youtube.com/embed/8TcCIJlxnwU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
        <div class="col"><iframe width="560" height="315" src="https://www.youtube.com/embed/76gVF8PKiO4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
    </div>
</div>




