
<!-- ---empty cart--- -->
<div *ngIf="msg==false" class="cla" >
    <div class="container" >
        <div class="row">
            <div class="col text-center">
                <img id="emptyimg" src="https://www.animatedimages.org/data/media/157/animated-fishing-image-0138.gif" alt="">
                <h3 class="mt-3">Your cart is empty </h3>
                <a class="btn btn-primary" routerLink="/">Shop Now</a>
            </div>
        </div>
    </div>
</div>




<!-- cart with content -->
<div *ngIf="msg==false" class="container text-center">
    <div class="row">
        <div *ngFor="let product of cart" class="col pe-2 d-flex ">
            <table style="border: 1px solid lightblue;" class="table border m-4">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="text-left">
                    <!-- <tr *ngFor="let product of cartitems" > -->
                        <tr>
                        <td>{{product.pname}}</td>
                        <td><img [src]="product.image" width="100px" height="100px" alt=""></td>
                        <td>{{product.description}}</td>
                        <td>{{product.price}}</td>
                        <td><button (click)="DeleteCart(product._id)" id="b1" ><i class="fa-solid fa-trash"></i></button></td>
                    </tr>
                    
                </tbody>
            </table>
          </div>
            <div style="float: right;" class="m-4">
              <h3 class="m-3"><b>Grand Total : Rs.{{total}}/- </b></h3>

                <a routerLink="/home" class="btn btn-warning">View More</a> &nbsp; 
                <button type="button" (click)="Checkout()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Place Order</button> &nbsp;
                

            </div>
        
    </div>
</div>
