
 @import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather:wght@900&family=Ubuntu:ital@1&display=swap'); 
 *{
     color: aliceblue;
 }
 img{
     width: 20px;
     border-radius: 50%;
 }
 .p{
     font-size: 100px;
     font-weight: 900;
     color: yellow;
     font-family: 'Merriweather', serif;
 }
 .p1{
     font-size: 40px;
 }
 #body{
    background-image: url('../../assets/img/cat_aquarium_fish_suspension_52666_1920x1200.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
}
 
 